<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
        .box {
            transform: scale(0.6);
        }
    </style>
</head>

<body>
    <text>현재 현시-> a링: </text><input type="text"> <text>b링: </text> <input type="text">
    <br>
    <div class="box">
        <div style="position: absolute;">
            <div style="position: absolute; top:800px;left: 465px;">
                <img src="left.png" alt="none">
            </div>
            <div style="position: absolute; top:380px;left: 465px;">
                <img src="none.png" alt="none" style="transform:rotate(180deg);">
            </div>
            <div style="position: absolute; top:565px;left: 200px;">
                <img src="red.png" alt="none" style="transform:rotate(90deg);">
            </div>
            <div style="position: absolute; top:565px;left: 720px;">
                <img src="green.png" alt="none" style="transform:rotate(270deg);">
            </div>
        </div>
        <div style="position: absolute;">
            <div style="position: absolute;top:800px;left: 380px;">
                <img src="walk_red.png" alt="walker_red" width="75px" height="auto">
            </div>
            <div style="position: absolute;top:250px;left:730px;">
                <img src="walk_red.png" alt="walker_red" width="75px" height="auto">
            </div>
            <div style="position: absolute;top:330px;left: 250px;">
                <img src="walk_red.png" alt="walker_red" width="75px" height="auto">
            </div>
            <div style="position: absolute; top:700px;left:900px;">
                <img src="walk_red.png" alt="walker_red" width="75px" height="auto">
            </div>
        </div>
        <img src="crossroad.jpg" alt="crossroad">
    </div>
</body>

</html>