<html>

<head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    Hey, this is index page
    <a href="/about"">about페이지</a>
    <script type="text/javascript">
        $(document).ready(function () {
            $("*").css("border", "1px solid #FF0000");     // 문서 전체를 선택
            $('span').css("border", "3px dotted blue");     // 요소(element, tag) 선택
            $("#content").css("background-color", "cyan");     // id 선택
            jQuery(".my").css("border", "5px solid rgb(255, 255, 0)");    // class 선택
            $("i > .my").css("font-size", "40px"); // > 는 직계 하위 엘리먼트, " "는 하위 어딘가에 엘리먼트
});
    </script>
  </body>

</html>